


body {
    
	margin: 0;
	background: #0088ff;
	font-family: sans-serif;
	font-weight: 100;
}
.container {
	position: relative;
	top: 40%;
	left: 50%;
	transform: translate(-50%, -50%);
}
table {
	width: 1200px;
	border-collapse: separate;
	overflow: scroll;
	box-shadow: 0 0 20px rgba(0,0,0,0.1);
    
}
th,
td {
	padding: 15px;
	background-color: #5683aa;
	color: rgb(0, 0, 0);
    text-align: center;
    margin: 20px 0 60px;
    
}
th {
	text-align: center;
}
